# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# pnpm
.pnpm-store

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.DS_Store

# Testing
coverage
*.lcov

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Temporary files
*.tmp
.cache
.context
